In [1]:
class Point:
    a =1 
    b =2

In [1]:
s = [[1,1,0,0,0],
    [1,1,1,1,0],
    [1,0,0,0,0],
    [1,1,0,0,0],
    [1,1,1,1,1]]

In [46]:
class Solution(object):
    def kWeakestRows(self, mat, k):
        """
        :type mat: List[List[int]]
        :type k: int
        :rtype: List[int]
        """
        f = {}
        for i, j in enumerate(mat):
            f[str(i)]= sum(j)
        res = dict(sorted(f.items(), key=lambda item: item[1]))
        s = [int(i) for i, j in res.items()][:k]
        return s

In [55]:
mat = [[1,1,0,0,0],[1,1,1,1,0],[1,0,0,0,0],[1,1,0,0,0],[ 1,1,1,1,1]]
k = 3

Solution().kWeakestRows(mat=mat, k=k)

[2, 0, 3]

In [29]:
from operator import itemgetter
from heapq import nlargest
from typing import List

class Solution1:
    def kWeakestRows(self, mat: List[List[int]], k: int) -> List[int]:
        # Define a function to extract the index from a tuple
        index_getter = itemgetter(0)
        
        # Define a custom key function to determine row strength
        key_func = lambda t: (-sum(t[1]), -t[0])
        
        # Use enumerate to create an iterable of tuples (index, row)
        enumerated_rows = enumerate(mat)
        
        # Use nlargest to find the k weakest rows based on the custom key function
        weakest_rows = nlargest(k, enumerated_rows, key=key_func)
        
        # Map the index_getter function to extract row indices and convert the result to a list
        result = list(map(index_getter, weakest_rows))
        
        return result

In [54]:
mat = [[1,1,0,0,0],[1,1,1,1,0],[1,0,0,0,0],[1,1,0,0,0],[ 1,1,1,1,1]]
k = 3

Solution1().kWeakestRows(mat=mat, k=k)

[2, 0, 3]

In [13]:
myDict = {'ravi': 10, 'rajnish': 9,
        'sanjeev': 15, 'yash': 2, 'suraj': 32}
 
myKeys = list(myDict.keys())
myKeys.sort()
sorted_dict = {i: myDict[i] for i in myKeys}
 
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [17]:
dict(sorted(f.items(), key=lambda item: item[1]))

{'2': 1, '0': 2, '3': 2, '1': 4, '4': 5}

In [12]:
Point.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.Point.__init__(self, a) -> None>,
              '__dict__': <attribute '__dict__' of 'Point' objects>,
              '__weakref__': <attribute '__weakref__' of 'Point' objects>,
              '__doc__': None,
              'a': 'qwe'})

In [9]:
from config import Database
import psycopg2
import pandas as pd
# print(Database.CONNECTION_STRING)
conn = psycopg2.connect(Database.CONNECTION_STRING)

In [10]:
cursor = conn.cursor()

In [16]:
select = "select * from public.user" 
df = pd.read_sql(select, conn)

/tmp/ipykernel_26962/445189986.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(select, conn)

DatabaseError: Execution failed on sql 'select * from public.user': relation "public.user" does not exist
LINE 1: select * from public.user
                      ^

In [13]:
df

       user
0  sohibjon

In [72]:
from pydantic import BaseModel,Field, validator

class Blog(BaseModel):
    title: str = Field(...,min_length=5)
    is_active: bool

    @validator("title")
    def validate_no_sql_injection(cls, value):
        print(value)
        if "delete from" in value:
            raise ValueError("Our terms strictly prohobit SQLInjection Attacks")
        return value

Blog(title="delete from",is_active=True)

delete from

ValidationError: 1 validation error for Blog
title
  Our terms strictly prohobit SQLInjection Attacks (type=value_error)

In [87]:
from typing import Union, List, Tuple
def inr_to_usd(value:float) -> Tuple[Union[float,None]]:
    try:
        conversion_factor = 75
        value = value/conversion_factor
        return value
    except TypeError:
        return "Error"

In [88]:
inr_to_usd(23)

0.30666666666666664

In [ ]:
from typing import Optional

class Job:
    def __init__(self,title:str,description:Optional[str]) -> None:
        self.title = title
        self.description = description

    def __repr__(self):
        return self.title


job1 = Job(title="SDE2",description="Sdfdk")
# job2 = Job(title="Senior Manager", description="jfjdj")

In [103]:
def smart_divide(func):
    def inner(a, b):
        if b == 0:
            print("Whoops! Division by 0")
            return None

        return func(a, b)
    return inner


@smart_divide
def divide(a, b):
    print(a/b)

In [105]:
divide(9,0)

Whoops! Division by 0

In [108]:
class Example:
    # Defining __call__ method
    def __call__(self):
        print("Instance is called via special method")

    def __init__(self):
        print("Instance Created")

In [113]:
# Instance created
e = Example()()

Instance Created
Instance is called via special method

In [ ]:
# __call__ method will be called
e()